body {
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
    color: coral;
    font-size: 20px;
}

a:hover {
    color: rgb(80, 255, 182);
    font-size: 25px;
    transition: 1.5s;
}

a:active {
    font-size: 60px;
    color: cornflowerblue;
}

a:focus {
    background-color: bisque;
}